# enable color support for ls and grep
alias ls='ls --color=auto'
alias dir='dir --color=auto'
alias vdir='vdir --color=auto'
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# basic shell commands
alias ll='ls -alFh'
alias llt='ll --sort time -r --ignore "\." --ignore "\.\."'
alias la='ls -A'
alias l='ls -lFh'
alias cwd='cd $(pwd)'

alias x=exit
alias c=clear
alias root="sudo -i"

alias 'cd..'='cd ..'
alias 'cd....'='cd ../..'
alias 'cd......'='cd ../../..'
alias 'cd..2'='cd ../..'
alias 'cd..3'='cd ../../..'
alias 'cd..4'='cd ../../../..'

alias e='emacs -nw' # -fg white -bg black'
alias se='sudo emacs -nw -fg white -bg black'

alias powerdown='sudo shutdown -h now'
alias pd=powerdown
alias reboot='sudo reboot'

alias apt-update=aptupdate
alias upgrade='apt-update; sudo apt-get upgrade -y; sudo apt-get autoclean'
alias dist-upgrade='apt-update; sudo apt-get dist-upgrade;'

# maven goals
alias 'mvc'='mvn clean'
alias 'mvce'='mvn clean eclipse:clean'
alias 'mvi'='mvn install -DskipTests'
alias 'mvci'='mvn clean install -DskipTests'
alias 'mvt'='mvn test'
alias 'mvct'='mvn clean test'
alias 'mvp'='mvn package -DskipTests'
alias 'mvcp'='mvn clean package -DskipTests'
alias 'mvag'='mvn archetype:generate'
alias 'mvcs'='mvn checkstyle:checkstyle'
## maven goals with eclipse
alias 'mvie'='mvi eclipse:eclipse -DdownloadSources=true -DdownloadJavadoc=true'
alias 'mve'='mvn eclipse:eclipse -DdownloadSources=true -DdownloadJavadoc=true'
alias 'mvce'='mvn eclipse:clean'
alias 'mvcie'='mvci eclipse:eclipse -DdownloadSources=true -DdownloadJavadoc=true'
## maven goals with intellij idea
alias 'mvij'='mvi idea:idea -DdownloadSources=true -DdownloadJavadoc=true'
alias 'mvj'='mvn idea:idea -DdownloadSources=true -DdownloadJavadoc=true'
alias 'mvcj'='mvn idea:clean'
alias 'mvcij'='mvci idea:idea -DdownloadSources=true -DdownloadJavadoc=true'

# git
alias 'ga'="git add"
alias 'gb'="git branch"
alias 'gba'="git branch -a"
alias 'gc'="git commit"
alias 'gca'="git commit -a"
alias 'gcam'="git commit -am"
alias 'gcm'="git commit -m"
alias 'gco'="git checkout"
alias 'gd'="git diff --color"
alias 'gdc'="gd --cached"
alias 'gl'="git log --graph --pretty=format:'%Cred%h%Creset %an: %s - %Creset %C(yellow)%d%Creset %Cgreen(%cr)%Creset' --abbrev-commit --date=relative"
alias 'gru'="git remote update"
alias 'grv'="git remote -v"
alias 'gs'="git status -sb"
alias 'gs.'="gs ."
alias 'gsl'='git shortlog --pretty=format:"%Cgreen(%cr)%Creset - %s"'

#dz ssh
alias divzero='ssh thomas@divzero.at'
alias home='ssh thomas@home.rauschig.org'

#quick rename tools
alias gmv='qmv -f destination-only -e geany'

#gs merge
alias pdfmerge='ghostscript -q -sPAPERSIZE=a4 -dNOPAUSE -dBATCH -sDEVICE=pdfwrite -sOutputFile=pdfmerge.pdf'

# i need this far too often. silly java
alias 'idea-kill'='pkill -9 -f "(java)(.*)(idea)"'

# open a jar that contains a swing application with anti aliasing on
alias swingjar='java -Dawt.useSystemAAFontSettings=on -Dswing.aatext=true -jar'
