[user]
	email = thomas@rauschig.org
	name = Thomas Rausch
[core]
	editor = emacs -nw -fg white -bg black

[alias]
	ignore = update-index --assume-unchanged
	unignore = update-index --no-assume-unchanged
	unstage = reset HEAD
	unstash = stash pop
