[user]
	email = thomas@rauschig.org
	name = Thomas Rausch
[core]
	editor = nano
	quotepath = false

[alias]
	ignore = update-index --assume-unchanged
	unignore = update-index --no-assume-unchanged
	unstage = reset HEAD
	unstash = stash pop
	amend = commit --amend --no-edit
	discard = !git checkout -- . && git clean -f -q -- .
	conflicts = diff --diff-filter=U			# shows a diff of all current merge conflicts
	undo = reset HEAD@{1}
	report = !gitinspector --grading=true
	report-html = !gitinspector --grading=true --format=html > report.html
	fixup = "!fn() { git commit --fixup ${1} && GIT_EDITOR=true git rebase --autosquash -i ${1}^; }; fn"

[color]
	ui = auto
[push]
	default = simple
